- Services:
  - Nextcloud:
      href: "https://nextcloud.{{ domain_name }}/"
      icon: nextcloud
  - Actual Budget:
      href: "https://budget.{{ domain_name }}/"
      icon: actual
  - Immich:
      href: "https://photos.{{ domain_name }}/"
      icon: immich
  - Komga:
      href: "https://komga.{{ domain_name }}/"
      icon: komga
  - Nginx Proxy Manager:
      href: "https://nginx.{{ domain_name }}/"
      icon: nginx-proxy-manager
  - Syncthing:
      href: "https://syncthing.{{ domain_name }}/"
      icon: syncthing
  - Uptime Kuma:
      href: "https://status.{{ domain_name }}/"
      icon: uptime-kuma
  - Cockpit:
      href: "https://cockpit.{{ domain_name }}/"
      icon: cockpit
  - Home Assistant:
      href: "https://home.{{ domain_name }}/"
      icon: home-assistant