- resources:
    cpu: true
    memory: true
    cputemp: true
    units: metric
    disk: "{{ hdd_mount_point }}"
    expanded: true
    diskUnits: bbytes

- search:
      provider: custom
      url: https://kagi.com/search?q=
      target: _blank
      focus: true
      showSearchSuggestions: true