- Services:
  - Nextcloud:
      href: "https://nextcloud.{{ domain_name }}/"
      icon: sh-nextcloud
  - Actual Budget:
      href: "https://budget.{{ domain_name }}/"
      icon: sh-actual-budget
  - Komga:
      href: "https://komga.{{ domain_name }}/"
      icon: sh-komga
  - Nginx Proxy Manager:
      href: "https://nginx.{{ domain_name }}/"
      icon: sh-nginx-proxy-manager
  - Paperless:
      href: "https://paperless.{{ domain_name }}/"
      icon: sh-paperless-ngx
  - Home Assistant:
      href: "https://home.{{ domain_name }}/"
      icon: sh-home-assistant
  - Immich:
      href: "https://photos.{{ domain_name }}/"
      icon: sh-immich
  - Uptime Kuma:
      href: "https://status.{{ domain_name }}/"
      icon: sh-uptime-kuma
  - FreshRSS:
      href: "https://rss.{{ domain_name }}/"
      icon: sh-freshrss